@import "base";
@import "fonts";
@import "responsive";
@import "hovercolors";

html {
	background: url("assets/saintlouis.jpg")  no-repeat center center fixed; 
	background-size: cover;
}

body {
	margin: 0;
}

.contact-wrapper {
	background: rgba(0, 0, 0, .85);
	@media #{$phone} {
		width: 70%;
		padding: 5%;
	}
	@media #{$tablet} {
		width: 40%;
		padding: 80px;
	}
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: white;
	margin-top: 200px;
	text-align: center;
	font-size: 1.2em;
	border-radius: 30px;
	a {
		color: white;
		transition: all .3s ease;
	}
	a:hover {
		color: #0F0;
	}
	&-paragraph {
		line-height: 1.6;
	}
}

h1 {
	margin: 5px;
}