@import "fonts";
@import "responsive";
@import "hovercolors";

html {
	background: url("assets/saintlouis.jpg")  no-repeat center center fixed; 
	background-size: cover;
}

body {
	margin: 0;
}

.contact-wrapper {
	background: rgba(0, 0, 0, .85);
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 80px;
	color: white;
	margin-top: 200px;
	text-align: center;
	font-size: 1.2em;
	font-family: arial;
	border-radius: 30px;
	a {
		color: white;
		transition: all .3s ease;
	}
	a:hover {
		color: #0F0;
	}
}

h1 {
	margin: 5px;
}