@import "fonts";
@import "responsive";

html {
	background: url("assets/3dprint.jpg")  no-repeat center center fixed; 
	background-size: cover;
}
body {
	margin: 0;
}
h1 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-family: CafeBrewery;
}
h2{
	text-align: center;
}
h3 {
	margin-top: 15px;
	margin-bottom: 3px;
}
h4 {
	margin: 3px;
}
#experience-wrapper {
	width: 80%;
	display: block;
	margin: auto;
	background: rgba(255, 255, 255, .4);
	border-radius: 20px;
}
.experience-subsection {
	display: inline-block;
	@media #{$phone} {
		width: 98%;
	}
	@media #{$desktop} {
		width: 45%;
	}
}
.experience-block {
	font-family: Arial;
	padding: 10px;
	padding-top: 4px;
	padding-left: 15px;
	margin: 5%;
	transition: background 0.15s ease;
	border-radius: 20px;
	cursor: pointer;
}

$low-opacity: .06;
$high-opacity: .3;
$low-color: 25;

.blue {
	background: rgba($low-color, $low-color, 255, $low-opacity);
}
.blue:hover {
	background: rgba($low-color, $low-color, 255, $high-opacity)
}
.green {
	background: rgba($low-color, 255, $low-color, $low-opacity);
}
.green:hover {
	background: rgba($low-color, 255, $low-color, $high-opacity);
}
.red {
	background: rgba(255, $low-color, $low-color, $low-opacity);
}
.red:hover {
	background: rgba(255, $low-color, $low-color, $high-opacity);
}
.yellow {
	background: rgba(255, 255, $low-color, $low-opacity);
}
.yellow:hover {
	background: rgba(255, 255, $low-color, $high-opacity);
}
.purple {
	background: rgba(255, $low-color, 255, $low-opacity);
}
.purple:hover {
	background: rgba(255, $low-color, 255, $high-opacity);
}
.cyan {
	background: rgba($low-color, 255, 255, $low-opacity);
}
.cyan:hover {
	background: rgba($low-color, 255, 255, $high-opacity);
}