@import "base.scss";
@import "fonts";
@import "responsive";
@import "hovercolors";

html {
	background: url("assets/3dprint.jpg")  no-repeat center center fixed; 
	background-size: cover;
}
body {
	margin: 0;
}
h1 {
	padding-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-family: CafeBrewery;
}
h2{
	margin-top: 40px;
	text-align: center;
}
h4 {
	margin-top: 15px;
	margin-bottom: 3px;
}
h5 {
	margin: 3px;
}
#experience-wrapper {
	width: 80%;
	display: block;
	margin: auto;
	background: rgba(255, 255, 255, .93);
	border-radius: 10px;
}
.experience-subsection {
	width: 98%;
	margin: 0px auto;
	font-family: Arial;
	font-size: 1.2em;
	vertical-align: top;
	display: block;
}
.experience-block {
	@media #{$phone} {
		width: 93%;
	}
	@media #{$desktop} {
		width: 43%;
	}	
	padding: 1%;
	margin: 2%;
	transition: background 0.15s ease;
	border-radius: 10px;
	background-color: white;
	display: inline-block;
	vertical-align: top;
}

.skills-subsection {
	width: 90%;;
	display: block;
	margin: 10px auto;
	padding: 10px 5%;
	border-radius: 20px;
	background: rgba(255, 255, 255, .6);
}
.skills-subsection-column {
	vertical-align: top;
	@media #{$phone} {
		width: 98%;
	}
	@media #{$desktop} {
		width: 32%;
	}	
	display: inline-block;
}
.experience-description {
	margin-left: 15px;
	padding-left: 15px;
}
.experience-time {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #333;
}