@import "fonts";
@import "responsive";

#desktop-nav {
	@media #{$phone} {
		display: none;
	}
	@media #{$desktop} {
		display: block;
	}
	text-align: left;
	font-size: 1.8em;
	font-family: CafeBrewery;
	margin-top: 40px;
	margin-left: 20px;
	.nav-link {
		padding: 30px;
		color: black;
		text-decoration: none;
		font-weight: bold;
	}
	.nav-link:hover {
		text-decoration: underline;
	}
}
#mobile-nav {
	position: relative;
	@media #{$phone} {
		display: block;
	}
	@media #{$desktop} {
		display: none;
	}
}
.mobile-menu-click {
	@media #{$phone} {
		display: block;
	}
	@media #{$desktop} {
		display: none;
	}
	font-family: CafeBrewery;
	cursor: pointer;
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 2em;
	text-decoration: none;
	font-weight: bold;
}
.mobile-nav-link {
	font-family: CafeBrewery;
	width: 80%;
	margin: auto;
	display: none;
	text-align: center;
	padding: 20px;
	font-size: 2em;
	a {
		color: black;
		text-decoration: none;
		font-weight: bold;
	}
}