@import "fonts";
@import "responsive";

#desktop-nav {
	@media #{$phone} {
		display: none;
	}
	@media #{$desktop} {
		display: block;
	}
	text-align: left;
	font-size: 1.8em;
	font-family: CafeBrewery;
	margin-top: 40px;
	margin-left: 20px;
	.nav-link {
		padding: 30px;
		color: #444;
		text-decoration: none;
		font-weight: bold;
	}
	.nav-link .active-link {
		color: #000;
	}
	.nav-link:hover {
		text-decoration: underline;
		color: #000;
	}
}
#mobile-nav {
	top: 79px;
	display: none;
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
	@media #{$desktop} {
		display: none !IMPORTANT;
	}
}
.mobile-menu-click {
	@media #{$phone} {
		display: block;
	}
	@media #{$desktop} {
		display: none; 
	}
	font-family: CafeBrewery;
	cursor: pointer;
	display: block;
	background-color: #444;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 2em;
	text-decoration: none;
	font-weight: bold;
}
.mobile-menu-click:hover {
	background-color: #222;
}
.mobile-nav-link {
	font-family: CafeBrewery;
	width: 80%;
	margin: auto;
	visibility: none;
	text-align: center;
	padding: 20px;
	font-size: 2em;
	background-color: black;
	z-index: 5;
	a {
		z-index: 5;
		color: white;
		text-decoration: none;
		font-weight: bold;
	}
}
.menu-image {
	height: 30px;
	margin-bottom: -4px;
	margin-right: 15px;
}