@import "base";
@import "fonts";
@import "responsive";
@import "hovercolors";

html {
	background: url("assets/ssseaport.jpg")  no-repeat center center fixed; 
	background-color: black;
	background-size: cover;
}

body {
	margin: 0;
}
.page-title, .page-description {
	color: white;
}
.photography-wrapper {
	background-color: #222;
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
	line-height: 1.15;
	vertical-align: top;
}

.big-wrapper {
	@media #{$phone} {
		width: 98%;
	}
	@media #{$desktop} {
		width: 55%;
	}
	margin: 10px;
	display: inline-block;
}

#big-pic {
	width: 100%;
}

.gallery {
	vertical-align: top;
	@media #{$phone} {
		width: 100%;
	}
	@media #{$desktop} {
		width: 40%;
	}
	margin: 10px;
	display: inline-block;
}

.gallery-pic {
	display: inline-block;
	margin: 2% 8px;
	cursor: pointer;
	border: 2px solid black;

	@media #{$phone} {
		width: 45%;
	}
	@media #{$desktop} {
		width: 29%;
	}
}

.gallery-pic:hover {
	border: 2px solid white;
}