@import "base.scss";
@import "fonts";
@import "responsive";
@import "hovercolors";

html {
	background: url("assets/arduino.jpg")  no-repeat center center fixed; 
	background-size: cover;
}

body {
	margin: 0;
}

.projects-wrapper {
	background: rgba(255, 255, 255, .85);
	padding: 40px;
	padding-top: 10px;
	margin-top: 40px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.project-block {
	font-size: 1.1em;
	padding: 1%;
	display: inline-block;
	vertical-align: top;
	h4 {
		margin-top: 2px;
		margin-bottom: 3px;
	}
	@media #{$phone} {
		width: 98%;
		margin: 10px 1%;
	}
	@media #{$tablet} {
		width: 44%
	}
	@media #{$desktop} {
		width: 28%;
		margin: 20px 1%;
		height: 450px;
	}
	a {
		transition: all .5s ease;
	}
	a:hover {
		color: green;
	}
}
.project-description {
	margin-top: 8px;
	margin-bottom: 6px;
}
.project-technologies {
	color: gray;
}