@font-face {
  font-family: CafeBrewery;
  src: url("fonts/cafe_brewery.ttf");
}
@font-face {
  font-family: Josefin-BoldItalic;
  src: url("fonts/JosefinSans-BoldItalic.ttf");
}
@font-face {
  font-family: Josefin-Bold;
  src: url("fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: Josefin-Italic;
  src: url("fonts/JosefinSans-Italic.ttf");
}
@font-face {
  font-family: Josefin-LightItalic;
  src: url("fonts/JosefinSans-LightItalic.ttf");
}
@font-face {
  font-family: Josefin-Light;
  src: url("fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: Josefin;
  src: url("fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: Josefin-SemiBoldItalic;
  src: url("fonts/JosefinSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Josefin-SemiBold;
  src: url("fonts/JosefinSans-SemiBold.ttf");
}
@font-face {
  font-family: Josefin-ThinItalic;
  src: url("fonts/JosefinSans-ThinItalic.ttf");
}
@font-face {
  font-family: Josefin-Thin;
  src: url("fonts/JosefinSans-Thin.ttf");
}
@font-face {
  font-family: NewsGothic-Bold;
  src: url("fonts/News-Gothic-MT-Bold.ttf");
}
@font-face {
  font-family: NewsGothic-Regular;
  src: url("fonts/News-Gothic-MT-Regular.ttf");
}
@font-face {
  font-family: NewsGothic-Italic;
  src: url("fonts/News-Gothic-MT-Italic.ttf");
}
body {
  font-family: NewsGothic-Regular;
}

.page-title {
  font-family: NewsGothic-Bold;
  font-weight: 100;
  font-size: 1.4em;
  text-align: center;
  margin: 30px 0px;
}

.page-description {
  font-family: NewsGothic-Regular;
  font-weight: 300;
  font-size: 1.35em;
  width: 75%;
  margin: 20px auto;
  display: block;
  line-height: 1.2;
  text-align: center;
}

hr {
  width: 35%;
  display: block;
  margin: 30px auto;
  color: #EEE;
}

@font-face {
  font-family: CafeBrewery;
  src: url("fonts/cafe_brewery.ttf");
}
@font-face {
  font-family: Josefin-BoldItalic;
  src: url("fonts/JosefinSans-BoldItalic.ttf");
}
@font-face {
  font-family: Josefin-Bold;
  src: url("fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: Josefin-Italic;
  src: url("fonts/JosefinSans-Italic.ttf");
}
@font-face {
  font-family: Josefin-LightItalic;
  src: url("fonts/JosefinSans-LightItalic.ttf");
}
@font-face {
  font-family: Josefin-Light;
  src: url("fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: Josefin;
  src: url("fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: Josefin-SemiBoldItalic;
  src: url("fonts/JosefinSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Josefin-SemiBold;
  src: url("fonts/JosefinSans-SemiBold.ttf");
}
@font-face {
  font-family: Josefin-ThinItalic;
  src: url("fonts/JosefinSans-ThinItalic.ttf");
}
@font-face {
  font-family: Josefin-Thin;
  src: url("fonts/JosefinSans-Thin.ttf");
}
@font-face {
  font-family: NewsGothic-Bold;
  src: url("fonts/News-Gothic-MT-Bold.ttf");
}
@font-face {
  font-family: NewsGothic-Regular;
  src: url("fonts/News-Gothic-MT-Regular.ttf");
}
@font-face {
  font-family: NewsGothic-Italic;
  src: url("fonts/News-Gothic-MT-Italic.ttf");
}
.blue {
  background: rgba(25, 25, 255, 0.1);
}

.blue:hover {
  background: rgba(25, 25, 255, 0.6);
}

.green {
  background: rgba(25, 255, 25, 0.1);
}

.green:hover {
  background: rgba(25, 255, 25, 0.6);
}

.red {
  background: rgba(255, 25, 25, 0.1);
}

.red:hover {
  background: rgba(255, 25, 25, 0.6);
}

.yellow {
  background: rgba(255, 255, 25, 0.1);
}

.yellow:hover {
  background: rgba(255, 255, 25, 0.6);
}

.purple {
  background: rgba(255, 25, 255, 0.1);
}

.purple:hover {
  background: rgba(255, 25, 255, 0.6);
}

.cyan {
  background: rgba(25, 255, 255, 0.1);
}

.cyan:hover {
  background: rgba(25, 255, 255, 0.6);
}

.blue-bar {
  border-left: rgba(25, 25, 255, 0.2) 10px solid;
}

.green-bar {
  border-left: rgba(25, 255, 25, 0.2) 10px solid;
}

.red-bar {
  border-left: rgba(255, 25, 25, 0.2) 10px solid;
}

.yellow-bar {
  border-left: rgba(255, 255, 25, 0.2) 10px solid;
}

.purple-bar {
  border-left: rgba(255, 25, 255, 0.2) 10px solid;
}

.cyan-bar {
  border-left: rgba(25, 255, 255, 0.2) 10px solid;
}

.blue-bar-dark-narrow {
  border-left: rgba(25, 25, 125, 0.2) 6px solid;
}

.green-bar-dark-narrow {
  border-left: rgba(25, 125, 25, 0.2) 6px solid;
}

.red-bar-dark-narrow {
  border-left: rgba(125, 25, 25, 0.2) 6px solid;
}

.yellow-bar-dark-narrow {
  border-left: rgba(125, 125, 25, 0.2) 6px solid;
}

.purple-bar-dark-narrow {
  border-left: rgba(125, 25, 125, 0.2) 6px solid;
}

.cyan-bar-dark-narrow {
  border-left: rgba(25, 125, 125, 0.2) 6px solid;
}

html {
  background: url("assets/cafe.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
}

.about-wrapper {
  background: rgba(255, 255, 255, 0.85);
  font-family: NewsGothic-Regular;
  padding: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 1.2em;
  line-height: 1.25;
}

.about-right {
  vertical-align: top;
  display: inline-block;
  width: 60%;
}

.about-left {
  vertical-align: top;
  display: inline-block;
  width: 30%;
}

#profpic {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=about.css.map */
