@font-face {
  font-family: CafeBrewery;
  src: url("fonts/cafe_brewery.ttf");
}
.page-description {
  font-family: CafeBrewery;
  font-weight: 300;
  width: 75%;
  margin: 20px auto;
  display: block;
  line-height: 1.4;
  text-align: center;
}

hr {
  width: 35%;
  display: block;
  margin: 30px auto;
  color: #EEE;
}

@font-face {
  font-family: CafeBrewery;
  src: url("fonts/cafe_brewery.ttf");
}
.blue {
  background: rgba(25, 25, 255, 0.1);
}

.blue:hover {
  background: rgba(25, 25, 255, 0.3);
}

.green {
  background: rgba(25, 255, 25, 0.1);
}

.green:hover {
  background: rgba(25, 255, 25, 0.3);
}

.red {
  background: rgba(255, 25, 25, 0.1);
}

.red:hover {
  background: rgba(255, 25, 25, 0.3);
}

.yellow {
  background: rgba(255, 255, 25, 0.1);
}

.yellow:hover {
  background: rgba(255, 255, 25, 0.3);
}

.purple {
  background: rgba(255, 25, 255, 0.1);
}

.purple:hover {
  background: rgba(255, 25, 255, 0.3);
}

.cyan {
  background: rgba(25, 255, 255, 0.1);
}

.cyan:hover {
  background: rgba(25, 255, 255, 0.3);
}

.blue-bar {
  border-left: rgba(25, 25, 255, 0.04) 10px solid;
}

.green-bar {
  border-left: rgba(25, 255, 25, 0.04) 10px solid;
}

.red-bar {
  border-left: rgba(255, 25, 25, 0.04) 10px solid;
}

.yellow-bar {
  border-left: rgba(255, 255, 25, 0.04) 10px solid;
}

.purple-bar {
  border-left: rgba(255, 25, 255, 0.04) 10px solid;
}

.cyan-bar {
  border-left: rgba(25, 255, 255, 0.04) 10px solid;
}

html {
  background: url("assets/3dprint.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
}

h1 {
  padding-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-family: CafeBrewery;
}

h2 {
  margin-top: 40px;
  text-align: center;
}

h4 {
  margin-top: 15px;
  margin-bottom: 3px;
}

h5 {
  margin: 3px;
}

#experience-wrapper {
  width: 80%;
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.93);
  border-radius: 10px;
}

.experience-subsection {
  width: 98%;
  margin: 0px auto;
  font-family: Arial;
  font-size: 1.2em;
  vertical-align: top;
  display: block;
}

.experience-block {
  padding: 1%;
  margin: 2%;
  transition: background 0.15s ease;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 300px) {
  .experience-block {
    width: 93%;
  }
}
@media only screen and (min-width: 1200px) {
  .experience-block {
    width: 43%;
  }
}

.skills-subsection {
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 10px 5%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
}

.skills-subsection-column {
  vertical-align: top;
  display: inline-block;
}
@media only screen and (min-width: 300px) {
  .skills-subsection-column {
    width: 98%;
  }
}
@media only screen and (min-width: 1200px) {
  .skills-subsection-column {
    width: 32%;
  }
}

.experience-description {
  margin-left: 15px;
  padding-left: 15px;
}

.experience-time {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
}

/*# sourceMappingURL=experience.css.map */
