@font-face {
  font-family: CafeBrewery;
  src: url("fonts/cafe_brewery.ttf");
}
@font-face {
  font-family: Josefin-BoldItalic;
  src: url("fonts/JosefinSans-BoldItalic.ttf");
}
@font-face {
  font-family: Josefin-Bold;
  src: url("fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: Josefin-Italic;
  src: url("fonts/JosefinSans-Italic.ttf");
}
@font-face {
  font-family: Josefin-LightItalic;
  src: url("fonts/JosefinSans-LightItalic.ttf");
}
@font-face {
  font-family: Josefin-Light;
  src: url("fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: Josefin;
  src: url("fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: Josefin-SemiBoldItalic;
  src: url("fonts/JosefinSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Josefin-SemiBold;
  src: url("fonts/JosefinSans-SemiBold.ttf");
}
@font-face {
  font-family: Josefin-ThinItalic;
  src: url("fonts/JosefinSans-ThinItalic.ttf");
}
@font-face {
  font-family: Josefin-Thin;
  src: url("fonts/JosefinSans-Thin.ttf");
}
@font-face {
  font-family: NewsGothic-Bold;
  src: url("fonts/News-Gothic-MT-Bold.ttf");
}
@font-face {
  font-family: NewsGothic-Regular;
  src: url("fonts/News-Gothic-MT-Regular.ttf");
}
@font-face {
  font-family: NewsGothic-Italic;
  src: url("fonts/News-Gothic-MT-Italic.ttf");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
body {
  font-family: NewsGothic-Regular;
}

.page-title {
  font-family: NewsGothic-Bold;
  font-weight: 100;
  font-size: 38px;
  text-align: center;
  margin: 30px 0px;
}

.page-description {
  font-family: NewsGothic-Regular;
  font-weight: 300;
  font-size: 20px;
  width: 75%;
  margin: 20px auto;
  display: block;
  line-height: 1.2;
  text-align: center;
}

.content-wrapper {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 3%;
  padding-right: 3%;
  width: 90%;
}

hr {
  width: 35%;
  display: block;
  margin: 30px auto;
  color: #EEE;
}

@font-face {
  font-family: CafeBrewery;
  src: url("fonts/cafe_brewery.ttf");
}
@font-face {
  font-family: Josefin-BoldItalic;
  src: url("fonts/JosefinSans-BoldItalic.ttf");
}
@font-face {
  font-family: Josefin-Bold;
  src: url("fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: Josefin-Italic;
  src: url("fonts/JosefinSans-Italic.ttf");
}
@font-face {
  font-family: Josefin-LightItalic;
  src: url("fonts/JosefinSans-LightItalic.ttf");
}
@font-face {
  font-family: Josefin-Light;
  src: url("fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: Josefin;
  src: url("fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: Josefin-SemiBoldItalic;
  src: url("fonts/JosefinSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Josefin-SemiBold;
  src: url("fonts/JosefinSans-SemiBold.ttf");
}
@font-face {
  font-family: Josefin-ThinItalic;
  src: url("fonts/JosefinSans-ThinItalic.ttf");
}
@font-face {
  font-family: Josefin-Thin;
  src: url("fonts/JosefinSans-Thin.ttf");
}
@font-face {
  font-family: NewsGothic-Bold;
  src: url("fonts/News-Gothic-MT-Bold.ttf");
}
@font-face {
  font-family: NewsGothic-Regular;
  src: url("fonts/News-Gothic-MT-Regular.ttf");
}
@font-face {
  font-family: NewsGothic-Italic;
  src: url("fonts/News-Gothic-MT-Italic.ttf");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
.blue {
  background: rgba(25, 25, 255, 0.1);
}

.green {
  background: rgba(25, 255, 25, 0.1);
}

.red {
  background: rgba(255, 25, 25, 0.1);
}

.yellow {
  background: rgba(255, 255, 25, 0.1);
}

.purple {
  background: rgba(255, 25, 255, 0.1);
}

.cyan {
  background: rgba(25, 255, 255, 0.1);
}

.blue-bar {
  border-left: rgba(25, 25, 255, 0.2) 10px solid;
}

.green-bar {
  border-left: rgba(25, 255, 25, 0.2) 10px solid;
}

.red-bar {
  border-left: rgba(255, 25, 25, 0.2) 10px solid;
}

.yellow-bar {
  border-left: rgba(255, 255, 25, 0.2) 10px solid;
}

.purple-bar {
  border-left: rgba(255, 25, 255, 0.2) 10px solid;
}

.cyan-bar {
  border-left: rgba(25, 255, 255, 0.2) 10px solid;
}

.blue-bar-dark-narrow {
  border-left: rgba(25, 25, 125, 0.2) 6px solid;
}

.green-bar-dark-narrow {
  border-left: rgba(25, 125, 25, 0.2) 6px solid;
}

.red-bar-dark-narrow {
  border-left: rgba(125, 25, 25, 0.2) 6px solid;
}

.yellow-bar-dark-narrow {
  border-left: rgba(125, 125, 25, 0.2) 6px solid;
}

.purple-bar-dark-narrow {
  border-left: rgba(125, 25, 125, 0.2) 6px solid;
}

.cyan-bar-dark-narrow {
  border-left: rgba(25, 125, 125, 0.2) 6px solid;
}

html {
  background: url("assets/3dprint.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-family: CafeBrewery;
}

h2 {
  margin-top: 40px;
  text-align: center;
}

h4 {
  margin-top: 15px;
  margin-bottom: 3px;
}

h5 {
  margin: 3px;
}

#experience-wrapper {
  background: white;
}

.experience-subsection {
  width: 98%;
  margin: 0px auto;
  font-size: 1.2em;
  vertical-align: top;
  display: block;
}

.experience-block {
  padding: 1%;
  margin: 2%;
  transition: background 0.15s ease;
  border-radius: 6px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 300px) {
  .experience-block {
    width: 93%;
  }
}
@media only screen and (min-width: 1200px) {
  .experience-block {
    width: 42%;
  }
}

.skills-subsection {
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 10px 5%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
}

.skills-subsection-column {
  vertical-align: top;
  display: inline-block;
}
@media only screen and (min-width: 300px) {
  .skills-subsection-column {
    width: 98%;
  }
}
@media only screen and (min-width: 1200px) {
  .skills-subsection-column {
    width: 32%;
  }
}

.experience-description {
  margin-left: 15px;
  padding-left: 15px;
}

.experience-time {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
}

.experience-name {
  margin: 0px;
}

/*# sourceMappingURL=experience.css.map */
