@font-face {
  font-family: CafeBrewery;
  src: url("fonts/cafe_brewery.ttf");
}
@font-face {
  font-family: Josefin-BoldItalic;
  src: url("fonts/JosefinSans-BoldItalic.ttf");
}
@font-face {
  font-family: Josefin-Bold;
  src: url("fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: Josefin-Italic;
  src: url("fonts/JosefinSans-Italic.ttf");
}
@font-face {
  font-family: Josefin-LightItalic;
  src: url("fonts/JosefinSans-LightItalic.ttf");
}
@font-face {
  font-family: Josefin-Light;
  src: url("fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: Josefin;
  src: url("fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: Josefin-SemiBoldItalic;
  src: url("fonts/JosefinSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Josefin-SemiBold;
  src: url("fonts/JosefinSans-SemiBold.ttf");
}
@font-face {
  font-family: Josefin-ThinItalic;
  src: url("fonts/JosefinSans-ThinItalic.ttf");
}
@font-face {
  font-family: Josefin-Thin;
  src: url("fonts/JosefinSans-Thin.ttf");
}
@font-face {
  font-family: NewsGothic-Bold;
  src: url("fonts/News-Gothic-MT-Bold.ttf");
}
@font-face {
  font-family: NewsGothic-Regular;
  src: url("fonts/News-Gothic-MT-Regular.ttf");
}
@font-face {
  font-family: NewsGothic-Italic;
  src: url("fonts/News-Gothic-MT-Italic.ttf");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
#desktop-nav {
  text-align: left;
  font-size: 1.8em;
  font-family: Quicksand;
  margin-top: 40px;
  margin-left: 20px;
}
@media only screen and (min-width: 300px) {
  #desktop-nav {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #desktop-nav {
    display: block;
  }
}
#desktop-nav .nav-link {
  padding: 25px;
  color: #444;
  text-decoration: none;
  font-weight: bold;
}
#desktop-nav .nav-link .active-link {
  color: #000;
}
#desktop-nav .active-link {
  text-decoration: underline;
  font-weight: 900;
}
#desktop-nav .nav-link:hover {
  text-decoration: underline;
  color: #000;
}
#desktop-nav .white {
  color: #DDD;
  transition: all .3s ease;
}
#desktop-nav .white:hover {
  color: #FFF;
}

#mobile-nav {
  top: 79px;
  display: none;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}
@media only screen and (min-width: 1200px) {
  #mobile-nav {
    display: none !IMPORTANT;
  }
}

.mobile-menu-click {
  font-family: Quicksand;
  cursor: pointer;
  display: block;
  background-color: #444;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1.8em;
  text-decoration: none;
  font-weight: bold;
}
@media only screen and (min-width: 300px) {
  .mobile-menu-click {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .mobile-menu-click {
    display: none;
  }
}

.mobile-menu-click:hover {
  background-color: #222;
}

.mobile-nav-link {
  font-family: CafeBrewery;
  width: 80%;
  margin: auto;
  visibility: none;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  background-color: black;
  z-index: 5;
}
.mobile-nav-link a {
  z-index: 5;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-image {
  height: 30px;
  margin-bottom: -4px;
  margin-right: 15px;
}

/*# sourceMappingURL=nav.css.map */
