@import "pane.less";
@import "responsive.less";
@import "font.less"; 
@import "navbar.less";

#about-pane {
	background-image: url("bg/nyc.jpg");
	h1{
		color: black;
	}
	.face-picture {
		height: 200px;
		border-radius: 125px;
		margin: auto;
		text-align: center;
		display: block;
	}
	.about-text {
		font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;;
		display: inline-block;
		vertical-align: top;
		color: white;
		background: rgba(.8, .8, .8, .85);
		border-radius:20px;
		line-height: 1.4;
		font-size:1.1em;
		@media @mobile {
			width: 80%;
			margin: auto;
			padding: 30px;
			display: block;
		}
		@media @desktop {
			padding: 30px;
			width: 80%;
			margin-left:150px;
			display: inline-block;
		}
	}
}
.block-wrapper{
	width:100%;
}