@import "pane.less";
@import "responsive.less";
@import "font.less"; 
@import "navbar.less";
@import "pane-full.less";

html, body {
	height: 100%;
	margin: 0;
}

#experience-pane {
	background-image: url("bg/3dprint.jpg");
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left top;
	height: auto;
	overflow-x: hidden;

	.experience-block {
		background: rgba(255, 255, 255, .85);
		vertical-align: top;
		font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
		padding: 30px;
		height:auto;
		border-radius:50px;
		line-height:1.2;
		@media @mobile {
			width: 80%;
			margin: auto;
			margin-top: 10px;
			display: block;
		}
		@media @desktop {
			width: 60%;
			margin: 0px 18%;
			display: inline-block;
		}
	}
}

.job-description {
	display: none;
	border-left: 2px #C5C5C5 solid;
	padding-left: 30px;
	margin-bottom: 40px;
}

.info-less {
	margin-bottom: 15px;
	cursor: pointer;

	-moz-transition: color .1s ease-in;
	-o-transition: color .1s ease-in;
	-webkit-transition: color .1s ease-in;
	transition: color .1s ease-in;
}

.info-less:hover {
	color: #555;
	text-decoration: underline;
}