@import "responsive.less";
@import "font.less"; 
@import "navbar.less";
@import "pane.less";

/*****************
Top Pane
*****************/
.subname {
	text-align: center;
	font-size: 1.2em;
}
.name-big {
	position: relative;
	text-align: center;
	color:#222;
	@media @mobile {
		font-size: 2em;
		margin: 10px;
	}
	@media @tablet {
		font-size: 7em;
		margin-top:15%;
	}
}
#main-pane {
	background-image: url("bg/mainpane.jpg");
}

/******************
About Pane
******************/
#about-pane {
	background-image: url("bg/nyc.jpg");
	h1{
		color: black;
	}
	.face-picture {
		height: 250px;
		border-radius: 125px;

		@media @mobile {
			margin: auto;
			text-align: center;
			display: block;
		}

		@media @desktop {
			margin-left:13%;
			margin-top:50px;
			display: inline-block;
		}
	}
	.about-text {
		font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;;
		display: inline-block;
		vertical-align: top;
		color: white;
		background: rgba(.8, .8, .8, .85);
		border-radius:20px;
		line-height: 1.4;
		font-size:1.1em;
		@media @mobile {
			width: 80%;
			margin: auto;
			margin-top: 10px;
			padding: 30px;
			display: block;
		}
		@media @desktop {
			padding: 30px;
			width: 40%;
			margin-left:150px;
			margin-top:50px;
			display: inline-block;
		}
	}
}
.block-wrapper{
	width:100%;
}


/****************
Experience Pane
****************/
#experience-pane {
	background-image: url("bg/dormroom.jpg");
	height: auto;

	.experience-block {
		vertical-align: top;
		font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
		padding: 30px;
		background-color:#DDD;
		height:auto;
		border-radius:50px;
		line-height:1.2;
		@media @mobile {
			width: 80%;
			margin: auto;
			margin-top: 10px;
			display: block;
		}
		@media @desktop {
			width: 34%;
			margin: 0px 5%;
			display: inline-block;
		}
	}
}

/**************
Projects Pane
**************/
#projects-pane{
	background-image: url("bg/hackathon.jpg");
	h1{
		color: black;
		margin-bottom: 10px;
	}
	.projects-text {
		font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
		width: 80%;
		background: rgba(.8, .8, .8, .85);
		color: #DDD;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;

		@media @mobile {
			padding: 30px;
			padding-bottom: 48px;
		}

		a {
			color: #00BB00;
			-moz-transition: all .2s ease-in;
		    -o-transition: all .2s ease-in;
		    -webkit-transition: all .2s ease-in;
		    transition: all .2s ease-in;
		}
		a:hover {
			color: white;
		}
	}
}

/***************
Contact Pane
***************/
#contact-pane {
	background-image: url("bg/ssseaport.jpg");
	.cntct-info {
		text-align: center;
		color: white;
		a {
			color: white;
			-moz-transition: all .2s ease-in;
		    -o-transition: all .2s ease-in;
		    -webkit-transition: all .2s ease-in;
		    transition: all .2s ease-in;
		}
		a:hover {
			color: #0F0;
		}

		@media @mobile {
			font-size: 1.7em;
		}
		@media @tablet {
			height: 250px;
		}
		@media @desktop {
			font-size: 2.5em;
		}
	}

	@media only screen and (max-width : 1400px) {
		background-image: url("bg/ssseaport-small.jpg");
	}
}

/******************************
Read More Buttons
******************************/
.readmore-button {
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
	border: none;
	border-radius:2px;
	color: black;
	float: right;
	font-weight: bold;
	opacity: .4;
	padding: 10px;
	text-decoration: none;

	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;

	img {
		height: 30px;
	}
}

.readmoretext-light {
	font-size:.9em;
	color: white;
	display: inline-block;
	position: relative;
	top: -8px;
	margin-right:5px;
}

.readmoretext-dark {
	font-size:.9em;
	color: black;
	display: inline-block;
	position: relative;
	top: -8px;
	margin-right:5px;
}
.readmore-button:hover {
	opacity:.9;
}
